.text-input {
    border: 1px solid;
    height:50px;
    padding: $s-size;
    font-weight: 300;
}

.select {
    @extend .text-input;
    
}

.textarea-input {
    @extend .text-input;
    height: 10rem;
}