.list-header {
    background: #f7f7f7;
    border:1px solid darken( #f7f7f7, 10%);
    display: flex;
    justify-content: space-between;
    padding: $s-size $m-size;
}

.list-item {
    display:flex;
    flex-direction: column;
    border: 1px solid;
    border-top:none;
    color: black;
    padding: $s-size;
    text-decoration: none;
    transition: background .3s ease;
    &:hover {
        background: white;
    }
    @media (min-width: $desktop-breakpoint) {
        flex-direction:row;
        justify-content: space-between;
        padding: $m-size;
    }
}

.list-item__title {
    margin: 0;
    word-break: break-all;

}

.list-item__subtitle {
    color: grey;
    font-size:1.4rem;
    word-break: break-all;
    
}

.list-item__data {
    margin: $s-size 0 0 0;
}